.container{
    display: flex;
    padding: 60px;
   
    }
    .note{
        padding: 10px;
        border-radius: 10px;
       
    }
    .title{
        
        font-size: 15px;
        background-color: white;
    }   
    .Takenote{  
        font-size: 15px; 
       background-color: white;
       margin-top: 15px;
    }
    .close{
    margin-left: 150px;
    margin-top: 10px;
       border: 0;
       outline: 0;
    }
    .Limages{
    margin-left: 10px;
    }
    
    input {border:0;outline:0;}
   
    
   
    
    






