<div class="note" [style.background]="data.bgColor" >

   <div fxLayout="row" fxLayoutAlign="space-between center" >
      <input [style.background]="data.bgColor" class="mat-title" placeholder="Title" matInput mat-dialog-title [(ngModel)]="title">
   </div>

   <div fxLayout="row" fxLayoutAlign="space-between center" >
      <input [style.background]="data.bgColor" class="mat-title" placeholder="Description" matInput mat-dialog-title [(ngModel)]="description">
   </div>
   <app-icons  style="margin-top: 30px;" [notedata]="data" (refresh)="receiveMessage($event)"></app-icons>
   <button [style.background]="data.bgColor"  class="button" (click)="onNoClick()">update</button>
</div>