.remind{
    margin-bottom: 500px;
}
.icons button{
    margin-right: 5px;
  
  
}

  .colorbox
  {
      background-color: transparent;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      margin: auto;
      border: 0px solid;
  }
 
  