.mat-card{
    border: 1px rgba(20, 20, 20, 0.438) solid;
    border-radius: 10px;
  }
.Emailreset
{
  width: 80%;
  margin-left: 10%;
}
.buttonStyleforConfirm
    {
      border: 0px;
      color: white;
      margin-left: 260px;
      background-color: blue;
      height: 40px;width: 100px;
      border-radius: 6px;
      margin-top: 30px;
    }
    .title2{
        display: flex;
        justify-content: center;
      }
  