<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="30" height="50">
      <form [formGroup]="ResetPasswordForm " (ngSubmit)="onSubmit()">
        <div class="header" fxLayoutAlign="center">
          <h1>
            <span style="color:blue">F</span>
            <span style="color:red">U</span>
            <span style="color:orange">N</span>
            <span style="color:blue">D</span>
            <span style="color:green">O</span>
            <span style="color:red">O</span>
          </h1>
        </div>
        <h2 class="title2">Reset Password</h2>
        <div fxLayout="column" fxLayoutAlign="stretch">
            <mat-form-field class="Emailreset" appearance="outline">
                <mat-label> new password</mat-label>
                <input matInput placeholder="Phone Number Or Email" formControlName="newPassword">
                <mat-error>Enter new password</mat-error>
            </mat-form-field>
            <mat-form-field class="Emailreset" appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input matInput placeholder="Phone Number Or Email" formControlName="confirmPassword">
                <mat-error>Confirm password</mat-error>
            </mat-form-field>
        </div>
        <button mat-button class="buttonStyleforConfirm">Confirm</button>   
        
      </form>
    </mat-card>
  </div>
