<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="35" height="50">
      <form [formGroup]="ForgetPasswordForm " (ngSubmit)="onSubmit()">
        <div class="header" fxLayoutAlign="center">
          <h1>
            <span style="color:blue">F</span>
            <span style="color:red">U</span>
            <span style="color:orange">N</span>
            <span style="color:blue">D</span>
            <span style="color:green">O</span>
            <span style="color:red">O</span>
          </h1>
        </div>
        <h2 class="title2">Find your email</h2>
            <h3 style="padding-left: 90px;" class="title3">Enter your phone number or recovery email</h3>
            <div fxLayout="column" fxLayoutAlign="stretch">
                <mat-form-field class="designEmailreset" appearance="outline">
                    <mat-label>Enter your phone number or email</mat-label>
                    <input matInput placeholder="Phone Number Or Email" formControlName="email">
                    <mat-error>Enter valid email</mat-error>
                </mat-form-field>
            </div>
            <button mat-button class="buttonStyleforNext">Next</button>   
        
      </form>
    </mat-card>
  </div>