.mat-card{
    border: 1px rgba(20, 20, 20, 0.438) solid;
    border-radius: 10px;
  }
  .Emailreset
{
  width: 80%;
  padding-left: 50px;
}
.buttonStyleforNext
    {
      border: 0px;
      color: white;
      margin-left: 350px;
      //padding-top: 50px;
      margin-top: 25px;
      background-color: blue;
      height: 40px;width: 100px;
      border-radius: 6px;
    }
   
    
    .title2{
      display: flex;
      justify-content: center;
    }
